:root,
.__fb-light-mode {
  --fds-black: #000000;
  --fds-black-alpha-05: rgba(0, 0, 0, 0.05);
  --fds-black-alpha-10: rgba(0, 0, 0, 0.1);
  --fds-black-alpha-15: rgba(0, 0, 0, 0.15);
  --fds-black-alpha-20: rgba(0, 0, 0, 0.2);
  --fds-black-alpha-30: rgba(0, 0, 0, 0.3);
  --fds-black-alpha-40: rgba(0, 0, 0, 0.4);
  --fds-black-alpha-50: rgba(0, 0, 0, 0.5);
  --fds-black-alpha-60: rgba(0, 0, 0, 0.6);
  --fds-black-alpha-80: rgba(0, 0, 0, 0.8);
  --fds-blue-05: #ecf3ff;
  --fds-blue-30: #aac9ff;
  --fds-blue-40: #77a7ff;
  --fds-blue-60: #1877f2;
  --fds-blue-70: #2851a3;
  --fds-blue-80: #1d3c78;
  --fds-button-text: #444950;
  --fds-comment-background: #f2f3f5;
  --fds-dark-mode-gray-35: #cccccc;
  --fds-dark-mode-gray-50: #828282;
  --fds-dark-mode-gray-70: #4a4a4a;
  --fds-dark-mode-gray-80: #373737;
  --fds-dark-mode-gray-90: #282828;
  --fds-dark-mode-gray-100: #1c1c1c;
  --fds-gray-00: #f5f6f7;
  --fds-gray-05: #f2f3f5;
  --fds-gray-10: #ebedf0;
  --fds-gray-20: #dadde1;
  --fds-gray-25: #ccd0d5;
  --fds-gray-30: #bec3c9;
  --fds-gray-45: #8d949e;
  --fds-gray-70: #606770;
  --fds-gray-80: #444950;
  --fds-gray-90: #303338;
  --fds-gray-100: #1c1e21;
  --fds-green-55: #00a400;
  --fds-highlight: #3578e5;
  --fds-highlight-cell-background: #ecf3ff;
  --fds-primary-icon: #1c1e21;
  --fds-primary-text: #1c1e21;
  --fds-red-55: #fa383e;
  --fds-soft: cubic-bezier(0.08, 0.52, 0.52, 1);
  --fds-spectrum-aluminum-tint-70: #e4f0f6;
  --fds-spectrum-blue-gray-tint-70: #cfd1d5;
  --fds-spectrum-cherry: #f35369;
  --fds-spectrum-cherry-tint-70: #fbccd2;
  --fds-spectrum-grape-tint-70: #ddd5f0;
  --fds-spectrum-grape-tint-90: #f4f1fa;
  --fds-spectrum-lemon-dark-1: #f5c33b;
  --fds-spectrum-lemon-tint-70: #fef2d1;
  --fds-spectrum-lime: #a3ce71;
  --fds-spectrum-lime-tint-70: #e4f0d5;
  --fds-spectrum-orange-tint-70: #fcdec5;
  --fds-spectrum-orange-tint-90: #fef4ec;
  --fds-spectrum-seafoam-tint-70: #caeef9;
  --fds-spectrum-slate-dark-2: #89a1ac;
  --fds-spectrum-slate-tint-70: #eaeff2;
  --fds-spectrum-teal: #6bcebb;
  --fds-spectrum-teal-dark-1: #4dbba6;
  --fds-spectrum-teal-dark-2: #31a38d;
  --fds-spectrum-teal-tint-70: #d2f0ea;
  --fds-spectrum-teal-tint-90: #f0faf8;
  --fds-spectrum-tomato: #fb724b;
  --fds-spectrum-tomato-tint-30: #f38e7b;
  --fds-spectrum-tomato-tint-90: #fdefed;
  --fds-strong: cubic-bezier(0.12, 0.8, 0.32, 1);
  --fds-white: #ffffff;
  --fds-white-alpha-05: rgba(255, 255, 255, 0.05);
  --fds-white-alpha-10: rgba(255, 255, 255, 0.1);
  --fds-white-alpha-20: rgba(255, 255, 255, 0.2);
  --fds-white-alpha-30: rgba(255, 255, 255, 0.3);
  --fds-white-alpha-40: rgba(255, 255, 255, 0.4);
  --fds-white-alpha-50: rgba(255, 255, 255, 0.5);
  --fds-white-alpha-60: rgba(255, 255, 255, 0.6);
  --fds-white-alpha-80: rgba(255, 255, 255, 0.8);
  --fds-yellow-20: #ffba00;
  --accent: hsl(214, 89%, 52%);
  --always-white: #ffffff;
  --always-black: black;
  --always-dark-gradient: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
  --always-dark-overlay: rgba(0, 0, 0, 0.4);
  --always-light-overlay: rgba(255, 255, 255, 0.4);
  --always-gray-40: #65676b;
  --always-gray-75: #bcc0c4;
  --always-gray-95: #f0f2f5;
  --attachment-footer-background: #f0f2f5;
  --background-deemphasized: #f0f2f5;
  --base-blue: #1877f2;
  --base-cherry: #f3425f;
  --base-grape: #9360f7;
  --base-lemon: #f7b928;
  --base-lime: #45bd62;
  --base-pink: #ff66bf;
  --base-seafoam: #54c7ec;
  --base-teal: #2abba7;
  --base-tomato: #fb724b;
  --blue-link: #216fdb;
  --card-background: #ffffff;
  --card-background-flat: #f7f8fa;
  --comment-background: #f0f2f5;
  --comment-footer-background: #f6f9fa;
  --dataviz-primary-1: rgb(48, 200, 180);
  --disabled-button-background: #e4e6eb;
  --disabled-button-text: #bcc0c4;
  --disabled-icon: #bcc0c4;
  --disabled-text: #bcc0c4;
  --divider: #ced0d4;
  --event-date: #f3425f;
  --filter-accent: invert(39%) sepia(57%) saturate(200%) saturate(200%)
    saturate(200%) saturate(200%) saturate(200%) saturate(147.75%)
    hue-rotate(202deg) brightness(97%) contrast(96%);
  --filter-always-white: invert(100%);
  --filter-disabled-icon: invert(80%) sepia(6%) saturate(200%) saturate(120%)
    hue-rotate(173deg) brightness(98%) contrast(89%);
  --filter-placeholder-icon: invert(59%) sepia(11%) saturate(200%)
    saturate(135%) hue-rotate(176deg) brightness(96%) contrast(94%);
  --filter-primary-icon: invert(8%) sepia(10%) saturate(200%) saturate(200%)
    saturate(166%) hue-rotate(177deg) brightness(104%) contrast(91%);
  --filter-secondary-icon: invert(39%) sepia(21%) saturate(200%)
    saturate(109.5%) hue-rotate(174deg) brightness(94%) contrast(86%);
  --filter-warning-icon: invert(77%) sepia(29%) saturate(200%) saturate(200%)
    saturate(200%) saturate(200%) saturate(200%) saturate(128%)
    hue-rotate(359deg) brightness(102%) contrast(107%);
  --filter-blue-link-icon: invert(30%) sepia(98%) saturate(200%) saturate(200%)
    saturate(200%) saturate(166.5%) hue-rotate(192deg) brightness(91%)
    contrast(101%);
  --filter-positive: invert(37%) sepia(61%) saturate(200%) saturate(200%)
    saturate(200%) saturate(200%) saturate(115%) hue-rotate(91deg)
    brightness(97%) contrast(105%);
  --filter-negative: invert(25%) sepia(33%) saturate(200%) saturate(200%)
    saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(110%)
    hue-rotate(345deg) brightness(132%) contrast(96%);
  --glimmer-spinner-icon: #65676b;
  --hero-banner-background: #ffffff;
  --hosted-view-selected-state: rgba(45, 136, 255, 0.1);
  --highlight-bg: #e7f3ff;
  --hover-overlay: rgba(0, 0, 0, 0.05);
  --media-hover: rgba(68, 73, 80, 0.15);
  --media-inner-border: rgba(0, 0, 0, 0.1);
  --media-outer-border: #ffffff;
  --media-pressed: rgba(68, 73, 80, 0.35);
  --messenger-card-background: #ffffff;
  --messenger-reply-background: #f0f2f5;
  --overlay-alpha-80: rgba(244, 244, 244, 0.8);
  --overlay-on-media: rgba(0, 0, 0, 0.6);
  --nav-bar-background: #ffffff;
  --nav-bar-background-gradient: linear-gradient(
    to top,
    #ffffff,
    rgba(255, 255, 255.9),
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0)
  );
  --nav-bar-background-gradient-wash: linear-gradient(
    to top,
    #f0f2f5,
    rgba(240, 242, 245.9),
    rgba(240, 242, 245, 0.7),
    rgba(240, 242, 245, 0.4),
    rgba(240, 242, 245, 0)
  );
  --negative: hsl(350, 87%, 55%);
  --negative-background: hsl(350, 87%, 55%, 20%);
  --new-notification-background: #e7f3ff;
  --non-media-pressed: rgba(68, 73, 80, 0.15);
  --non-media-pressed-on-dark: rgba(255, 255, 255, 0.3);
  --notification-badge: #e41e3f;
  --placeholder-icon: #8a8d91;
  --placeholder-text: #8a8d91;
  --placeholder-text-on-media: rgba(255, 255, 255, 0.5);
  --popover-background: #ffffff;
  --positive: #31a24c;
  --positive-background: #deefe1;
  --press-overlay: rgba(0, 0, 0, 0.1);
  --primary-button-background: #1b74e4;
  --primary-button-pressed: #77a7ff;
  --primary-button-text: #ffffff;
  --primary-deemphasized-button-background: #e7f3ff;
  --primary-deemphasized-button-pressed: rgba(0, 0, 0, 0.05);
  --primary-deemphasized-button-pressed-overlay: rgba(25, 110, 255, 0.15);
  --primary-deemphasized-button-text: #1877f2;
  --primary-icon: #050505;
  --primary-text: #050505;
  --primary-text-on-media: #ffffff;
  --primary-web-focus-indicator: #d24294;
  --progress-ring-neutral-background: rgba(0, 0, 0, 0.2);
  --progress-ring-neutral-foreground: #000000;
  --progress-ring-on-media-background: rgba(255, 255, 255, 0.2);
  --progress-ring-on-media-foreground: #ffffff;
  --progress-ring-blue-background: rgba(24, 119, 242, 0.2);
  --progress-ring-blue-foreground: hsl(214, 89%, 52%);
  --progress-ring-disabled-background: rgba(190, 195, 201, 0.2);
  --progress-ring-disabled-foreground: #bec3c9;
  --rating-star-active: #eb660d;
  --scroll-thumb: #bcc0c4;
  --scroll-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 -1px rgba(0, 0, 0, 0.1) inset;
  --secondary-button-background: #e4e6eb;
  --secondary-button-background-floating: #ffffff;
  --secondary-button-background-on-dark: rgba(0, 0, 0, 0.4);
  --secondary-button-pressed: rgba(0, 0, 0, 0.05);
  --secondary-button-stroke: transparent;
  --secondary-button-text: #050505;
  --secondary-icon: #65676b;
  --secondary-text: #65676b;
  --secondary-text-on-media: rgba(255, 255, 255, 0.9);
  --section-header-text: #4b4c4f;
  --shadow-1: rgba(0, 0, 0, 0.1);
  --shadow-2: rgba(0, 0, 0, 0.2);
  --shadow-5: rgba(0, 0, 0, 0.5);
  --shadow-8: rgba(0, 0, 0, 0.8);
  --shadow-inset: rgba(255, 255, 255, 0.5);
  --surface-background: #ffffff;
  --text-highlight: rgba(24, 119, 242, 0.2);
  --toggle-active-background: #e7f3ff;
  --toggle-active-icon: rgb(24, 119, 242);
  --toggle-active-text: rgb(24, 119, 242);
  --toggle-button-active-background: #e7f3ff;
  --wash: #e4e6eb;
  --web-wash: #f0f2f5;
  --warning: hsl(40, 89%, 52%);
  --fb-logo-color: #2d88ff;
  --dialog-anchor-vertical-padding: 56px;
  --header-height: 56px;
  --global-panel-width: 68px;
  --button-corner-radius: 6px;
  --card-corner-radius: 8px;
  --fds-animation-enter-exit-in: cubic-bezier(0.14, 1, 0.34, 1);
  --fds-animation-enter-exit-out: cubic-bezier(0.45, 0.1, 0.2, 1);
  --fds-animation-swap-shuffle-in: cubic-bezier(0.14, 1, 0.34, 1);
  --fds-animation-swap-shuffle-out: cubic-bezier(0.45, 0.1, 0.2, 1);
  --fds-animation-move-in: cubic-bezier(0.17, 0.17, 0, 1);
  --fds-animation-move-out: cubic-bezier(0.17, 0.17, 0, 1);
  --fds-animation-expand-collapse-in: cubic-bezier(0.17, 0.17, 0, 1);
  --fds-animation-expand-collapse-out: cubic-bezier(0.17, 0.17, 0, 1);
  --fds-animation-passive-move-in: cubic-bezier(0.5, 0, 0.1, 1);
  --fds-animation-passive-move-out: cubic-bezier(0.5, 0, 0.1, 1);
  --fds-animation-quick-move-in: cubic-bezier(0.1, 0.9, 0.2, 1);
  --fds-animation-quick-move-out: cubic-bezier(0.1, 0.9, 0.2, 1);
  --fds-animation-fade-in: cubic-bezier(0, 0, 1, 1);
  --fds-animation-fade-out: cubic-bezier(0, 0, 1, 1);
  --fds-duration-extra-extra-short-in: 100ms;
  --fds-duration-extra-extra-short-out: 100ms;
  --fds-duration-extra-short-in: 200ms;
  --fds-duration-extra-short-out: 150ms;
  --fds-duration-short-in: 280ms;
  --fds-duration-short-out: 200ms;
  --fds-duration-medium-in: 400ms;
  --fds-duration-medium-out: 350ms;
  --fds-duration-long-in: 500ms;
  --fds-duration-long-out: 350ms;
  --fds-duration-extra-long-in: 1000ms;
  --fds-duration-extra-long-out: 1000ms;
  --fds-duration-none: 0ms;
  --fds-fast: 200ms;
  --fds-slow: 400ms;
  --font-family-apple: system-ui, -apple-system, BlinkMacSystemFont,
    ".SFNSText-Regular", sans-serif;
  --font-family-code: ui-monospace, Menlo, Consolas, Monaco, monospace;
  --font-family-default: Helvetica, Arial, sans-serif;
  --font-family-segoe: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
  --dataviz-primary-2: rgb(134, 218, 255);
  --dataviz-primary-3: rgb(95, 170, 255);
  --dataviz-secondary-1: rgb(118, 62, 230);
  --dataviz-secondary-2: rgb(147, 96, 247);
  --dataviz-secondary-3: rgb(219, 26, 139);
  --dataviz-supplementary-1: rgb(255, 122, 105);
  --dataviz-supplementary-2: rgb(241, 168, 23);
  --dataviz-supplementary-3: rgb(49, 162, 76);
  --dataviz-supplementary-4: rgb(50, 52, 54);
}

body {
  background: #fff;
  font-family: var(--font-family-segoe);
  color: #1c1e21;
  direction: ltr;
  line-height: 1.34;
  margin: 0;
  padding: 0;
  unicode-bidi: embed;
}

body,
button,
input,
label,
select,
td,
textarea {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
}

/*img*/

img {
  border: 0;
}

.bixrwtb6 {
  object-fit: cover;
}

/*texts*/

b,
strong {
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1c1e21;
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

h4,
h5,
h6 {
  font-size: 13px;
}

a {
  color: #385898;
  cursor: pointer;
  text-decoration: none;
}

p {
  margin: 1em 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.lr9zc1uh {
  font-family: var(--font-family-segoe);
}

.r9r71o1u {
  font-size: 0.6875rem;
}

.jq4qci2q {
  font-size: 0.9375rem;
}

.e9vueds3 {
  font-size: 0.8125rem;
}

.a5q79mjw {
  font-size: 1.0625rem;
}

.oo9gr5id {
  color: var(--primary-text);
}

.m9osqain {
  color: var(--secondary-text);
}

.gsox5hk5 {
  text-align: initial;
}

.hzawbc8m {
  text-align: left;
}

.b1v8xokw {
  font-weight: 400;
}

.ekzkrbhg {
  font-weight: 500;
}

.lrazzd5p {
  font-weight: 600;
}

.n3ffmt46 {
  font-weight: bold;
}

.g1cxx5fr {
  line-height: 1.1765;
}

.j5wam9gi {
  line-height: 1.2308;
}

.a3bd9o3v {
  line-height: 1.3333;
}

.g0qnabr5 {
  white-space: nowrap;
}

.ii04i59q {
  white-space: pre-wrap;
}

.c1et5uql {
  word-wrap: break-word;
}

.qv66sw1b {
  word-break: break-word;
}

.ltmttdrg {
  text-overflow: ellipsis;
}

.sqxagodl {
  text-transform: uppercase;
}

/*_6*/

._6s5d {
  background-color: var(--web-wash);
  -webkit-font-smoothing: antialiased;
  overscroll-behavior-y: none;
}

._680y {
  display: inline-flex;
  position: relative;
  vertical-align: middle;
  width: 100%;
}

._6cuq {
  position: absolute;
  right: 2px;
  bottom: -11px;
  z-index: 0;
}

._6coj {
  display: inline-block;
}

._6coi {
  color: #90949c;
  display: inline-block;
  font-size: 13px;
  line-height: 12px;
}

._71pn ._6coi {
  color: var(--secondary-text);
}

._6cok {
  color: #8d949e;
}

._71pn ._6cok {
  color: var(--placeholder-icon);
}

._6coj:first-child ._6cok {
  display: none;
}

/*box*/

.rq0escxv {
  box-sizing: border-box;
}

.dwo3fsh8 {
  -webkit-appearance: none;
}

/*touch*/

.f1sip0of {
  touch-action: manipulation;
}

.gokke00a {
  touch-action: none;
}

.oajrlxb2 {
  -webkit-tap-highlight-color: transparent;
}

.hzruof5a {
  pointer-events: none;
}

/*background*/

.g5ia77u1 {
  background-color: transparent;
}

.hybvsw6c {
  background-color: var(--surface-background);
}

.b3i9ofy5 {
  background-color: var(--comment-background);
}

.cwj9ozl2 {
  background-color: var(--card-background);
}

.hn33210v {
  background-color: var(--popover-background);
}

.nl6bj373 {
  border-right: 2px solid var(--popover-background);
}

/*float*/

.bzsjyuwj {
  float: left;
}

/*position*/

.l9j0dhe7 {
  position: relative;
}

.pmk7jnqg {
  position: absolute;
}

.n7fi1qx3 {
  right: 0;
}

.o0s42vec {
  right: 14px;
}

.kr520xx4 {
  top: 0;
}

.i42f9fw1 {
  top: 100%;
}

.j9ispegn {
  left: 0;
}

.mmi0k12o {
  left: 30px;
}

.i09qtzwb {
  bottom: 0;
}

.b4oskaiq {
  bottom: -14px;
}

.du4w35lb {
  z-index: 0;
}

.ehxjyohh {
  z-index: 3;
}

/*block*/

.nc684nl6 {
  display: inline;
}

.a8c37x1j {
  display: block;
}

.q9uorilb {
  display: inline-block;
}

.sf5mxxl7 {
  vertical-align: middle;
}

.pzggbiyp {
  vertical-align: bottom;
}

.hu5pjgll {
  vertical-align: -0.25em;
}

.m6k467ps {
  -webkit-filter: var(--filter-secondary-icon);
}

.q45zohi1 {
  clip: rect(0, 0, 0, 0);
}

.g0aa4cga {
  clip-path: polygon(0 0, 0 0, 0 0, 0 0);
}

/*flex*/

.j83agx80 {
  display: flex;
}

.pq6dq46d {
  display: inline-flex;
}

.btwxx1t3 {
  flex-direction: row;
}

.rl25f0pe {
  flex-direction: row-reverse;
}

.cbu4d94t {
  flex-direction: column;
}

.taijpn5t {
  justify-content: center;
}

.i1fnvgqd {
  justify-content: space-between;
}

.bkfpd7mw {
  justify-content: flex-end;
}

.ll8tlv6m {
  align-items: flex-start;
}

.bp9cbjyn {
  align-items: center;
}

.gs1a9yip {
  align-items: stretch;
}

.nqmvxvec {
  align-self: flex-start;
}

.c4hnarmi {
  align-self: flex-end;
}

.owycx6da {
  flex-wrap: nowrap;
}

.buofh1pr {
  flex-grow: 1;
}

.rj1gh0hx {
  flex-basis: 0px;
}

.mg4g778l {
  flex-basis: auto;
}

.pfnyh3mw {
  flex-shrink: 0;
}

.g5gj957u {
  flex-shrink: 1;
}

.sbcfpzgs {
  -webkit-box-shadow: 0 1px 2px var(--shadow-2);
  box-shadow: 0 1px 2px var(--shadow-2);
}

.jkio9rs9 {
  -webkit-box-shadow: 0 1px 3px 0 var(--shadow-2);
  box-shadow: 0 1px 3px 0 var(--shadow-2);
}

.nwpbqux9 {
  -webkit-box-shadow: 0 12px 28px 0 var(--shadow-2), 0 2px 4px 0 var(--shadow-1),
    inset 0 0 0 1px var(--shadow-inset);
  box-shadow: 0 12px 28px 0 var(--shadow-2), 0 2px 4px 0 var(--shadow-1),
    inset 0 0 0 1px var(--shadow-inset);
}

.tpe1gtqi {
  -webkit-box-shadow: -1px 1px 1px var(--shadow-inset);
  box-shadow: -1px 1px 1px var(--shadow-inset);
}

/*overflow*/

.ni8dbmo4 {
  overflow-x: hidden;
}

.stjgntxs {
  overflow-y: hidden;
}

/*padding*/

.a8nywdso {
  padding-left: 0;
}

.hyh9befq {
  padding-left: 2px;
}

.b3onmgus {
  padding-left: 4px;
}

.pcp91wgn {
  padding-left: 6px;
}

.scb9dxdr {
  padding-left: 8px;
}

.tw6a2znq {
  padding-left: 12px;
}

.dati1w0a {
  padding-left: 16px;
}

.d0szoon8 {
  padding-left: 54px;
}

.rz4wbd8a {
  padding-right: 0;
}

.n8tt0mok {
  padding-right: 2px;
}

.ph5uu5jm {
  padding-right: 4px;
}

.p8fzw8mz {
  padding-right: 6px;
}

.dflh9lhu {
  padding-right: 8px;
}

.d1544ag0 {
  padding-right: 12px;
}

.hv4rvrfc {
  padding-right: 16px;
}

.jb3vyjys {
  padding-top: 0;
}

.jwdofwj8 {
  padding-top: 2px;
}

.ecm0bbzt {
  padding-top: 4px;
}

.ipjc6fyt {
  padding-top: 6px;
}

.cxgpxx05 {
  padding-top: 8px;
}

.jktsbyx5 {
  padding-top: 10px;
}

.pybr56ya {
  padding-top: 12px;
}

.qt6c0cv9 {
  padding-bottom: 0;
}

.ojkyduve {
  padding-bottom: 1px;
}

.linoseic {
  padding-top: 3px;
}

.e5nlhep0 {
  padding-bottom: 4px;
}

.iuny7tx3 {
  padding-bottom: 6px;
}

.sj5x9vvc {
  padding-bottom: 8px;
}

.osnr6wyh {
  padding-bottom: 10px;
}

.f10w8fjw {
  padding-bottom: 12px;
}

.ihqw7lf3 {
  padding-bottom: 16px;
}

/*margin*/

.ja2t1vim {
  margin-left: -100px;
}

.fop5sh7t {
  margin-left: -8px;
}

.rl04r1d5 {
  margin-left: -4px;
}

.roh60bw9 {
  margin-left: -2px;
}

.hcukyx3x {
  margin-left: 0;
}

.kkf49tns {
  margin-left: 4px;
}

.ggphbty4 {
  margin-left: 6px;
}

.gtad4xkn {
  margin-left: 7px;
}

.no6464jc {
  margin-left: 11px;
}

.ozuftl9m {
  margin-left: 12px;
}

.dhix69tm {
  margin-left: 16px;
}

.qp9yad78 {
  margin-right: -9999px;
}

.dlv3wnog {
  margin-right: -4px;
}

.nkwizq5d {
  margin-right: -2px;
}

.cxmmr5t8 {
  margin-right: 0;
}

.cgat1ltu {
  margin-right: 4px;
}

.fv0vnmcu {
  margin-right: 6px;
}

.oi9244e8 {
  margin-right: 8px;
}

.tvfksri0 {
  margin-right: 12px;
}

.wkznzc2l {
  margin-right: 16px;
}

.kvj6zsgd {
  margin-right: 0.5ch;
}

.hddg9phg {
  margin-top: -6px;
}

.muag1w35 {
  margin-top: -4px;
}

.kvgmc6g5 {
  margin-top: 0;
}

.rs0gx3tq {
  margin-top: 2px;
}

.aahdfvyu {
  margin-top: 4px;
}

.knvmm38d {
  margin-top: 5px;
}

.irj2b8pg {
  margin-top: -5px;
}

.o9v6fnle {
  margin-top: 0.5em;
}

.mysgfdmx {
  margin-bottom: -6px;
}

.enqfppq2 {
  margin-bottom: -4px;
}

.ew0dbk1b {
  margin-bottom: -5px;
}

.oygrvhab {
  margin-bottom: 0;
}

.tvmbv18p {
  margin-bottom: 4px;
}

.qzhwtbm6 {
  margin-bottom: 5px;
}

.bi6gxh9e {
  margin-bottom: 8px;
}

.n851cfcs {
  margin-bottom: 12px;
}

.ama3r5zh {
  margin-bottom: 15px;
}

.sjgh65i0 {
  margin-bottom: 16px;
}

/*size*/

.hpfvmrgz {
  min-width: 0;
}

.jgsskzai {
  min-width: 100px;
}

.d2edcug0 {
  max-width: 100%;
}

.k4urcfbm {
  width: 100%;
}

.datstx6m {
  height: 100%;
}

.tgvbjcpo {
  min-height: 0;
}

.l66bhrea {
  min-height: 15px;
}

.jklb3kyz {
  min-height: 32px;
}

.r9c01rrb {
  max-height: calc(1em * (20 / 17) * 2);
}

.ov9facns {
  width: 18px;
}

.hm271qws {
  height: 18px;
}

.odw8uiq3 {
  width: 20px;
}

.jnigpg78 {
  height: 20px;
}

.pgctjfs5 {
  width: 22px;
}

.folfom1g {
  width: 23px;
}

.oeo4gz9l {
  height: 23px;
}

.b73ngqbp {
  width: 24px;
}

.ciadx1gn {
  width: 28px;
}

.mudddibn {
  height: 28px;
}

.h3fqq6jp {
  min-height: 28px;
}

.tv7at329 {
  height: 36px;
}

.q676j6op {
  width: 40px;
}

.qypqp5cg {
  height: 40px;
}

.qu8okrzs {
  height: 44px;
}

.me31hnl3 {
  height: 50%;
}

.gjzvkazv {
  width: 100px;
}

.qmfd67dx {
  max-width: 800px;
  margin: 2em auto;
}

.esuyzwwr {
  text-decoration: none;
}

/*list*/

.p7hjln8o {
  list-style: none;
}

.nhd2j8a9 {
  cursor: pointer;
}

.o6r2urh6 {
  cursor: text;
}

/*border-radius*/

.monazrh9 {
  border-top-left-radius: 0;
}

.h905i5nu {
  border-top-right-radius: 0;
}

.l82x9zwi {
  border-bottom-left-radius: 8px;
}

.uo3d90p7 {
  border-bottom-right-radius: 8px;
}

.fni8adji {
  border-top-left-radius: 10px;
}

.hgaippwi {
  border-top-right-radius: 10px;
}

.ns4ygwem {
  border-bottom-left-radius: 10px;
}

.fykbt5ly {
  border-bottom-right-radius: 10px;
}

.qw6c0r16 {
  border-top-left-radius: 11px;
}

.kb8x4rkr {
  border-top-right-radius: 11px;
}

.omcyoz59 {
  border-bottom-left-radius: 11px;
}

.ed597pkb {
  border-bottom-right-radius: 11px;
}

.r15kkdkt {
  border-bottom-left-radius: 14px;
}

.p7f4f6cj {
  border-top-right-radius: 14px;
}

.cmek9o9a {
  border-top-left-radius: 14px;
}

.qmr60zad {
  border-bottom-left-radius: 18px;
}
.qlfml3jp {
  border-top-right-radius: 18px;
}

.inkptoze {
  border-bottom-right-radius: 18px;
}
.e72ty7fz {
  border-top-left-radius: 18px;
}

.s45kfl79 {
  border-top-left-radius: 50%;
}

.c8oo3d72 {
  border-bottom-right-radius: 14px;
}

.spb7xbtv {
  border-bottom-left-radius: 50%;
}

.emlxlaya {
  border-top-right-radius: 50%;
}

.bkmhp75w {
  border-bottom-right-radius: 50%;
}

.fbipl8qg {
  border-bottom-right-radius: var(--card-corner-radius);
}

.io0zqebd {
  border-top-left-radius: var(--card-corner-radius);
}

.m5lcvass {
  border-top-right-radius: var(--card-corner-radius);
}

.nwvqtn77 {
  border-bottom-left-radius: var(--card-corner-radius);
}

/*border*/

.r7d6kgcz {
  border-left: 0;
}

.esr5mh6w {
  border-right: 0;
}

.qu0x051f {
  border-top: 0;
}

.e9989ue4 {
  border-bottom: 0;
}

.mk2mc5f4 {
  border-left-style: solid;
}

.ccm00jje {
  border-right-style: solid;
}

.goun2846 {
  border-top-style: solid;
}

.s44p3ltw {
  border-bottom-style: solid;
}

.k0bpgpbk {
  border-left-width: 2px;
}

.qtyiw8t4 {
  border-right-width: 2px;
}

.qxh1up0x {
  border-top-width: 2px;
}

.tpcyxxvw {
  border-bottom-width: 2px;
}

.agehan2d {
  border-bottom-width: 0;
}

.l6v480f0 {
  border-top: 1px solid var(--divider);
}

.s1tcr66n {
  border-bottom: 1px solid var(--divider);
}

.mqre6vkw {
  border-left: 1px solid var(--surface-background);
}

.ig61c9yb {
  border-right: 1px solid var(--surface-background);
}

.hgn1d5oq {
  border-top: 1px solid var(--surface-background);
}

.crhf1sou {
  border-bottom: 1px solid var(--surface-background);
}

.ppp5ayq2 {
  border-left-color: var(--always-dark-overlay);
}

.tlpljxtp {
  border-right-color: var(--always-dark-overlay);
}

.mtkw9kbi {
  border-top-color: var(--always-dark-overlay);
}

.qensuy8j {
  border-bottom-color: var(--always-dark-overlay);
}

.b74d5cxt {
  border-left-color: var(--card-background);
}

.et4y5ytx {
  border-right-color: var(--card-background);
}

.j7g94pet {
  border-bottom-color: var(--card-background);
}

.np69z8it {
  border-top-color: var(--card-background);
}

.sk4xxmp2 {
  border-left-width: 0;
}

.n8ej3o3l {
  border-right-width: 0;
}

.rt8b4zig {
  border-top-width: 0;
}

.agehan2d {
  border-bottom-width: 0;
}

/*outline*/

.lzcic4wl {
  outline: none;
}

/*select*/

.abiwlrkh {
  -webkit-user-select: none;
}

/*opacity*/

.b5wmifdl {
  opacity: 0;
}

.pedkr2u6 {
  opacity: 1;
}

/*transition*/

.art1omkt {
  transition-property: opacity;
}

.hwsy1cff {
  transition-property: fill, stroke;
}

.ms05siws {
  transition-duration: var(--fds-fast);
}

.b7h9ocf4 {
  transition-timing-function: var(--fds-soft);
}

.c5ndavph {
  transition-duration: var(--fds-duration-extra-extra-short-out);
}

.ot9fgl3s {
  transition-timing-function: var(--fds-animation-fade-out);
}

/*svg*/

.em6zcovv {
  fill: var(--secondary-icon);
}

/*pseudo*/

.aigsh9s9::before {
  height: 0;
}

.ar1oviwq::after {
  right: -8px;
}

.bqnlxs5p::after {
  border-top-right-radius: 50%;
}

.c24pa1uk::after {
  border-bottom-left-radius: 50%;
}

.c8b282yb::after {
  height: 0;
}

.d3f4x2em::before {
  margin-top: -5px;
}

.d9wwppkn::before {
  margin-top: -4px;
}

.fe6kdd0r::after {
  content: "";
}

.iv3no6db::after {
  margin-bottom: -4px;
}

.kkg9azqs::after {
  border-bottom-right-radius: 50%;
}

.keod5gw0::before {
  content: "";
}

.ln9iyx3p::after {
  bottom: -8px;
}

.l10q8mi9::after {
  position: absolute;
}

.mau55g9w::after {
  display: block;
}

.mdeji52x::after {
  margin-bottom: -3px;
}

.nxhoafnm::before {
  display: block;
}

.pkj7ub1o::after {
  border-top-left-radius: 50%;
}

.pdjglbur::after {
  z-index: 1;
}

.kavbgo14 {
  z-index: 2;
}

.sq40qgkc::after {
  left: -8px;
}

.s8quxz6p::after {
  top: -8px;
}

/*inherit*/

#facebook ._-kb div {
  font-family: inherit;
}

.gmql0nx0 {
  color: inherit;
}

.l94mrbxd {
  font-size: inherit;
}

.myohyog2 {
  text-decoration: inherit;
}

.i1ao9s8h {
  text-align: inherit;
}

.p1ri9a11 {
  font-weight: inherit;
}

.knj5qynh {
  font-weight: normal;
}

.n00je7tq {
  border-top-left-radius: inherit;
}

.arfg74bv {
  border-top-right-radius: inherit;
}

.k77z8yql {
  border-bottom-left-radius: inherit;
}

.qs9ysxi8 {
  border-bottom-right-radius: inherit;
}

.tojvnm2t {
  align-content: inherit;
}
.t1p8iaqh {
  flex-basis: inherit;
}
.qowsmv63 {
  max-height: inherit;
}
.q3lfd5jv {
  flex-grow: inherit;
}
.pk4s997a {
  flex-shrink: inherit;
}
.owwhemhu {
  max-width: inherit;
}
.k5wvi7nf {
  flex-direction: inherit;
}
.iyyx5f41 {
  width: inherit;
}
.dp1hu0rb {
  min-height: inherit;
}
.dhp61c6y {
  min-width: inherit;
}
.cebpdrjk {
  justify-content: inherit;
}
.bipmatt0 {
  height: inherit;
}
.abs2jz4q {
  align-self: inherit;
}
.a8s20v7p {
  display: inherit;
}
.a6sixzi8 {
  align-items: inherit;
}

/*display: none*/

.ww7X6Ro.ww7X6Ro {
  display: none;
}

.jpp8pzdo:first-child {
  display: none;
}

/*mystyle*/

.myphoto {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}

.myphoto.small {
  width: 32px;
  height: 32px;
}

/*arrow*/

.tl61u9r6 {
  border-top-width: 6px;
}

.kvs4odcb {
  border-left-width: 6px;
}

.jgf7e1nu {
  border-top-color: transparent;
}

.r7dfy6xl {
  border-right-color: transparent;
}
